<div mat-dialog-action [align]="'end'">
  <button mat-button (click)="openDialog()" mat-flat-button color="primary">Add User</button>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.isEdit">
        {{element.username}}
      </ng-container>
      <div *ngIf="element.isEdit">
        <input matInput placeholder="Username" name="username" [value] = "element.username" [(ngModel)] = "element.username">
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.isEdit">
        {{element.email}}
      </ng-container>
      <div *ngIf="element.isEdit">
        <input matInput placeholder="Email" name="email" [value] = "element.email" [(ngModel)] = "element.email">
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.isEdit">
        {{element.phone}}
      </ng-container>
      <div *ngIf="element.isEdit">
        <input matInput placeholder="Phone" name="phone" [value] = "element.phone" [(ngModel)] = "element.phone">
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="skillsets">
    <th mat-header-cell *matHeaderCellDef> Skillsets </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.isEdit">
        {{element.skillsets}}
      </ng-container>
      <div *ngIf="element.isEdit">
        <input matInput placeholder="Skillsets" name="skillsets" [value] = "element.skillsets" [(ngModel)] = "element.skillsets">
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="hobby">
    <th mat-header-cell *matHeaderCellDef> Hobby </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.isEdit">
        {{element.hobby}}
      </ng-container>
      <div *ngIf="element.isEdit">
        <input matInput placeholder="Hobby" name="hobby" [value] = "element.hobby" [(ngModel)] = "element.hobby">
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="!element.isEdit">
        <button mat-mini-fab (click)="select(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab (click)="delete(element._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div *ngIf="element.isEdit">
        <button mat-mini-fab (click)="update(element)">
          <mat-icon>update</mat-icon>
        </button>
        <button mat-mini-fab (click)="cancel()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row (click)="clickedRows.add(row)" *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
