.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

input:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 30px #719ECE;
}

textarea:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 30px #719ECE;
}